body {
    background-color: lightgray;
    margin: 15%;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 10px lightpink;
    font-size: 50px;
}
img {
    display: inline-block;
    width: 100%;
}
#quote {
    font-size: 15px;
    font-family: Georgia;
    color: purple;
}
div#tribute-data {
    background-color: lightpink;
    font-family: Helvetica;
    padding: 20px 20px;
    margin-top: 15px;
}
h1.title-einstein {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
#content-link {
    text-decoration: none;
    color: purple;
}